mixin help()
	+b.help&attributes(attributes)
		+e.head
			+e('h3').heading Помощь
			+e('a')(href=jv0).link.link Задать вопрос
		+e.body
			+e('ul').list
				+e('li').list-item
					+e('a')(href=jv0).list-item__link.link Администрирование ?
				+e('li').list-item
					+e('a')(href=jv0).list-item__link.link Администрирование бесплатно?
				+e('li').list-item
					+e('a')(href=jv0).list-item__link.link Администрирование бесплатно?
				+e('li').list-item
					+e('a')(href=jv0).list-item__link.link Администрирование бесплатно?
				+e('li').list-item
					+e('a')(href=jv0).list-item__link.link Администрирование бесплатно?
